!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'telephone=no', name: 'format-detection' }
    %meta{ content: 'user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi', name: 'viewport' }
    %link{ href: 'css/index.css', rel: 'stylesheet', type: 'text/css' }

    /Uncomment the following line for Android Applications
    /%link{ href: 'css/theme-android.css', rel: 'stylesheet', type: 'text/css' }

    /Uncomment the following line for iOS Applications
    /%link{ href: 'css/theme-ios.css', rel: 'stylesheet', type: 'text/css' }

    %title Hello World

  %body
    %header.bar.bar-nav
      %h1.title Ratchet PhoneGap Starter App

    .content
      .content-padded
        #deviceready.event-listener
          %button.btn.btn-block.listening Connecting to Device
          %button.btn.btn-block.btn-positive.received Device is Ready

        %a.btn.btn-block.btn-primary{ href: 'two.html', data: { transition: 'slide-in' } } Go to Page Two

    %script{ src: 'phonegap.js',                         type: 'text/javascript' }
    %script{ src: 'js/ratchet/modals.js',                type: 'text/javascript' }
    %script{ src: 'js/ratchet/popovers.js',              type: 'text/javascript' }
    %script{ src: 'js/ratchet/push.js',                  type: 'text/javascript' }
    %script{ src: 'js/ratchet/segmented-controllers.js', type: 'text/javascript' }
    %script{ src: 'js/ratchet/sliders.js',               type: 'text/javascript' }
    %script{ src: 'js/ratchet/toggles.js',               type: 'text/javascript' }
    %script{ src: 'js/index.js',                         type: 'text/javascript' }

    :coffeescript
      app.initialize()
